header {
  background-color: var(--primary-color);
  color: var(--text-color);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  padding-inline: 3rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  max-width: 18rem;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.title {
  font-weight: bold;
  font-size: larger;
}

.links {
  color: var(--text-color);
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 3rem;
}
